<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pk.example"
    android:versionCode="1"
    android:versionName="1.0">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".clientui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".servicereceiver.NLService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <!-- <service -->
        <!-- android:name=".ProfileJobService" -->
        <!-- android:label="ProfileJobService" -->
        <!-- android:permission="android.permission.BIND_JOB_SERVICE" > -->


        <!-- </service> -->

        <activity
            android:name=".clientui.ProfileViewActivity"
            android:label="@string/title_activity_create_profile"
            android:parentActivityName=".clientui.ProfileListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".clientui.ProfileListActivity" />
        </activity>
        <!-- <activity -->
        <!-- android:name=".TabbedActivity" -->
        <!-- android:label="@string/title_activity_tabbed" -->
        <!-- android:parentActivityName=".MainActivity"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value="com.pk.example.MainActivity" /> -->
        <!-- </activity> -->
        <!-- <activity -->
        <!-- android:name=".ScheduleListActivity" -->
        <!-- android:label="@string/title_activity_schedule_list" -->
        <!-- android:parentActivityName=".MainActivity"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value="com.pk.example.MainActivity" /> -->
        <!-- </activity> -->
        <activity
            android:name=".clientui.ScheduleListActivity"
            android:label="@string/title_activity_schedule_list"
            android:parentActivityName=".clientui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".clientui.MainActivity" />
        </activity>
        <activity
            android:name=".clientui.ProfileListActivity"
            android:label="View Profiles"
            android:parentActivityName=".clientui.MainActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".clientui.MainActivity" />
        </activity>
        <activity
            android:name=".clientui.ScheduleViewActivity"
            android:label="Schedule"
            android:parentActivityName=".clientui.ScheduleListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".clientui.ScheduleListActivity" />
        </activity>
        <receiver android:name=".servicereceiver.NotificationReceiver" >
            <intent-filter>
                <action android:name="com.pk.example.INSERTNOTIFICATION"/>
                <action android:name="com.pk.example.ADDPROFILE"/>
                <action android:name="com.pk.example.REMOVEPROFILE" />
                <action android:name="com.pk.example.CHANGENOTIFICATIONS" />
                <action android:name="com.pk.example.UPDATESCHEDULEACTIVE" />
                <action android:name="com.pk.example.TOGGLESCHEDULE"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".servicereceiver.BootReceiver"  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <!--<action android:name="android.intent.action.INPUT_METHOD_CHANGED" />-->
            </intent-filter>
        </receiver>
        <activity
            android:label="Notification List"
            android:name=".clientui.NotificationListActivity"
            android:parentActivityName=".clientui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".clientui.ScheduleListActivity"/>
        </activity>
    </application>

</manifest>